{% extends 'base.html' %}


{% block 'title' %}Atualizar Relato{% endblock %}

{% block 'body' %}


    <main class="container">
        <h1 class="text-center">Atualizar Relato</h1>

        <form action="{% url 'editar_relato' relato.id %}" method="POST"> {% csrf_token %}

            <div class="form-group ">
                <label for="pedido">Relato</label>
                <input name="pedido" type="text"  value="{{relato.pedido}}" class="form-control" id="pedido" placeholder="pedido">
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="detalhes_pedido">Detalhes pedido</label>
                    <textarea  name="detalhes_pedido" class="form-control" id="detalhes_pedido"
                        placeholder="{{relato.detalhes_pedido}}"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for='cliente'>Cliente</label>
                        <select name='cliente' class="form-control" id="cliente'">
                        <option disabled selected value="{{relato.pedido}}">{{relato.cliente}}</option>
                        </select>
                    </div>
               
            </div>
            <button type="submit" class="btn btn-success">Atualizar</button>
        </form>


    </main>



{% endblock %}