<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{report_id}}</title>
    <style>
        body {
           
            font-family: verdana;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>

<body>

    <h1>DECLARAÇÃO DE RESIDÊNCIA</h1>
    <p>Eu,{{cliente.nome}}
        _________________, CPF nº {{cliente.cpf}}  ,RG nº      {{cliente.rg}}
        Órgão Exped. ____________, telefone (_____)___________________, na falta de
        documentos para comprovação de residência, em conformidade com o disposto na Lei
        7.115, de 29 de agosto de 1983, DECLARO para os devidos fins, sob penas da Lei, ser
        residente e domiciliado no endereço ____________________________________________
        _________________________________________________________________________</p>
    <p>Por ser verdade, firmo a presente declaração para que produza os efeitos
        legais, ciente de que a falsidade de seu conteúdo pode implicar na imputação de sanções
        civis, administrativas, bem como na sanção penal prevista no art. 299 do Código Penal,
        conforme transcrição abaixo:</p>
    <p>
        Art. 299 - Omitir, em documento público ou particular, declaração que
        nele deveria constar, ou nele inserir ou fazer inserir declaração falsa ou
        diversa da que devia ser escrita, com o fim de prejudicar direito, criar
        obrigação ou alterar a verdade sobre o fato juridicamente relevante.
        Pena: reclusão de 1 (um) a 5 (cinco) anos e multa, se o documento é
        público e reclusão de 1 (um) a 3 (três) anos, se o documento é particular
    </p>
    <p>___________________________________, ________/________/__________</p>
    <p>Local Data</p>
    <p>______________________________________________
        Assinatura do Declarant</p>
   

</body>

</html>